<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
        integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous" />
    <style>
        .star_button{
        background-color: white;
        border: none; 
    }
    </style>
</head>

<body style="height: 5000px;">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <div class="p-5">
                <a href="../" class="navbar-brand fs-3 fw-normal">AHEY LIBRARY</a>
            </div>
            <div class="p-5 justify-content-center">
                <form>
                    <input type="text" class="form-control" placeholder="Search" style="width: 480px;" />
                </form>
            </div>
            <div class="p-5 justify-content-end">
                <% if( user == undefined) { %>
                    <a href="/login" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                            fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path
                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                    </svg></a>
                <% } %>
                <% if( user != undefined) { %>
                    <a href="../profile/<%= user._id %>" class="btn btn-dark"><%= user.user_name %></a>
                    <a href="/logout" class="btn btn-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                      </svg></a>
                <% } %>
                
            </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary sticky-top">
        <div class="container">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar1" class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item me-5">
                        <a href="../" class="nav-link">หน้าแรก</a>
                    </li>
                    <li class="nav-item dropdown me-5">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">นิยาย</a>
                        <ul class="dropdown-menu">
                            <li><a href="West_Fiction.html" class="dropdown-item">วรรณกรรมตะวันตก</a></li>
                            <li><a href="#" class="dropdown-item">วรรณกรรมตะวันออก</a></li>
                            <li><a href="#" class="dropdown-item">วรรณกรรมเยาวชน</a></li>
                            <li><a href="#" class="dropdown-item">เรื่องสั้น</a></li>
                            <li><a href="#" class="dropdown-item">บทกวี</a></li>
                            <li><a href="#" class="dropdown-item">นิยายวาย</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown me-5">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">หนังสือ</a>
                        <ul class="dropdown-menu">
                            <li><a href="Arts_And_Design.html" class="dropdown-item">ARTS & DESIGN</a></li>
                            <li><a href="#" class="dropdown-item">BUSINESS & MANAGEMAENT</a></li>
                            <li><a href="#" class="dropdown-item">REFERENCE, LANGUAGE & TEST PREP</a></li>
                            <li><a href="#" class="dropdown-item">FOOD & DRINKS</a></li>
                            <li><a href="#" class="dropdown-item">ENTERTAINMENT, HOBBIES & LEISURE</a></li>
                            <li><a href="#" class="dropdown-item">FAMILY & HEALTH</a></li>
                            <li><a href="#" class="dropdown-item">SELF-IMPROVEMENT</a></li>
                            <li><a href="#" class="dropdown-item">TRAVEL</a></li>
                        </ul>
                    </li>
                    <li class="nav-item me-5">
                        <a href="CHILDREN.html" class="nav-link">หนังสือเด็ก</a>
                    </li>
                    <li class="nav-item me-5">
                        <a href="../manga" class="nav-link">การ์ตูน</a>
                    </li>
                    <li class="nav-item me-5">
                        <a href="#" class="nav-link">กระดาน</a>
                    </li>
                    <li class="nav-item me-5">
                        <a href="../thread" class="nav-link">กระทู้</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <section id="books">
        <div class="container">
            <form action="/thread/postthread" method="post">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">กระทู้ใหม่</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- <form> -->
                                    <input type="hidden" name="book_id" value="<%= book._id %>">
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">หัวข้อ</label>
                                        <input type="text" class="form-control"  name="section" id="recipient-name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="message-text" class="col-form-label">ข้อความ</label>
                                        <textarea class="form-control" id="message-text" name="content"></textarea>
                                    </div>
                                <!-- </form> -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">สร้าง</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-6">
                    <img src="data:book/<%= book.book_img.contentType %>;base64,
                    <%= book.book_img.data.toString('base64') %>"
                        class="d-block w-100 h-100 img-thumbnail img-fluid mb-2">
                    <div class="d-flex justify-content-center">
                        <div>
                            <% for(var star = 0;star < rate;star++){ %>
                            <i class="bi bi-star-fill" style='color: yellow;font-size: 32px;'"></i>
                            <% } %>
                            <% for(var nonstar = 5;nonstar > rate;nonstar--){ %>
                            <i class="bi bi-star" style="font-size: 32px;"></i> 
                            <% } %>
                        </div>
                        <div>
                            <p class="fs-6 fw-normal fst-italic">Ratings(<%= book.book_rate %>)</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <p class="fs-2 fw-bolder"><%= book.book_name %></p>
                    <% if(rent == false){ %>
                        <p class="border-dark border-bottom fs-4 fw-bolder">ราคา</p>
                    <% } else { %>
                        <p class="border-dark border-bottom fs-4 fw-bolder">อ่าน</p>
                    <% } %>
                    <div class="col-3">
                        <% if(rent == false){ %>
                        <div class="mb-3">
                            <form action="/book/rent" method="post">
                            <input type="hidden" name="book_id" value="<%= book._id %>">
                            <select class="form-select btn-outline-success" aria-label="Default select example" name="day">
                                <option selected value="1">0.00฿ / 1 Day</option>
                                <option value="3">0.00฿ / 3 Day</option>
                                <option value="5">0.00฿ / 5 Day</option>
                                <option value="7">0.00฿ / 7 Day</option>
                            </select>
                        </div>
                        <% } %>
                    </div>
                    <div class="d-flex">
                        <% if(rent == false){ %>
                            <div>
                                <a>                           
                                    <button type="submit" class="btn btn-success btn-lg mb-5 me-2">GET RENT
                                    </button>
                                </form>
                                </a>
                            </div>
                        <% } else { %>
                            <div>
                                <a>                           
                                    <button type="button" class="btn btn-success btn-lg mb-5 me-2">READ ON
                                    </button>
                                </a>
                            </div>
                        <% } %>
                        <div style="margin-right: 5px;">
                            <a href="../thread/search/id/<%= book._id %>">
                                <button type="button" class="btn btn-outline-success btn-lg mb-5">กระทู้ที่เกี่ยวข้อง
                                </button>
                            </a>
                        </div>
                        <div>
                            <!-- <a href="../postthread/<%= book._id %>"> -->
                                <button type="button" class="btn btn-outline-success btn-lg mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                data-bs-whatever="@mdo">สร้างกระทู้
                                </button>
                            <!-- </a> -->
                        </div>
                    </div>

                    <p class="border-dark border-bottom fs-4 fw-bolder">เกี่ยวกับ</p>
                    <p class="fs-6 fw-normal">Python ๑๐๑ หนังสือสอนเขียนโปรแกรมภาษา Python ใช้ประกอบการเรียนวิชา 2110101
                        Computer Programming</p>
                    <p class="border-dark border-bottom fs-4 fw-bolder">รายละเอียด</p>
                    <p class="fs-6 fw-normal">168 หน้า</p>
                    <p class="fs-6 fw-normal">ISBN : 978-616-407-189-6</p>
                    <p class="fs-6 fw-normal">พิมพ์ครั้งที่ 1 (สิงหาคม 2560)</p>
                    <p class="fs-6 fw-normal">พิมพ์ครั้งที่ 2 (สิงหาคม 2561)</p>
                    <p class="fs-6 fw-normal">จัดพิมพ์ : ภาควิชาวิศวกรรมคอมพิวเตอร์ จุฬาลงกรณ์มหาวิทยาลัย</p>
                    <p class="fs-6 fw-normal">MD5 checksum : DFC33A21FE81D55301D17009F0F5EB7C</p>
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br><br><br><br><br>
    <section id="review">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <% if( user != undefined) { %>
                        <% if(  usercomment == undefined ) { %>
                    <p class="border-dark border-bottom fs-4 fw-bolder">เขียนรีวิวและให้เรตติ้ง</p>
                    <form action="/book/comment" method="post">
                        <input type="hidden" name="book_id" value="<%= book._id %>">
                        <input type="hidden" name="rate" id="rate" value="0">
                    <div class="d-flex justify-content-center">
                        <div>
                            <button id="star_button1" type="button" class="star_button"><i class="bi bi-star" style="font-size: 32px;"></i></button>
                            <button id="star_button2" type="button" class="star_button"><i class="bi bi-star" style="font-size: 32px;"></i></button>
                            <button id="star_button3" type="button" class="star_button"><i class="bi bi-star" style="font-size: 32px;"></i></button>
                            <button id="star_button4" type="button" class="star_button"><i class="bi bi-star" style="font-size: 32px;"></i></button>
                            <button id="star_button5" type="button" class="star_button"><i class="bi bi-star" style="font-size: 32px;"></i></button>
                        </div>
                    </div>
                    <div class="form-floating my-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                            style="height: 150px" name="comment"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-lg mt-2">ส่งรีวิว</button>
                    </div>
                    </form>
                    <br><br>
                        <% } %>
                    <% } %>
                    <p class="border-dark border-bottom fs-4 fw-bolder">รีวิวทั้งหมด</p>
                    <% for(var i = 0;i < book_comment.length;i++){ %>
                    <div class="card mt-2">
                        <a  class="text-decoration-none text-black">
                            <h5 class="card-header"><%= book_comment[i].user_name %></h5>
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                <% for(var star = 0;star < book_comment[i].rate;star++){ %>
                                    <i class="bi bi-star-fill" style='color: yellow;font-size: 20px;'"></i>
                                    <% } %>
                                    <% for(var nonstar = 5;nonstar > book_comment[i].rate;nonstar--){ %>
                                    <i class="bi bi-star" style="font-size: 20px;"></i> 
                                <% } %>
                            </p>
                            <p class="card-text"><%= book_comment[i].comment %></p>
                            <% if( usercomment != undefined) { %>
                                <% if( usercomment.user_name === book_comment[i].user_name) { %>
                                <form action="/book/deletecomment?_method=delete" method="post">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="id" value="<%= book_comment[i]._id %>">
                                    <input type="hidden" name="book_id" value="<%= book._id %>">
                                    <button class="btn btn-outline-danger" type="submit">
                                        <i class="bi bi-trash" style="font-size: 16px;"></i>
                                    </button>
                                </form>
                                <% } %>
                            <% } %>

                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="page">
        <div class="d-flex justify-content-center mt-5">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <a href="#"><button type="button" class="btn btn-primary">1</button></a>
                    <a href="#"><button type="button" class="btn btn-primary">2</button></a>
                    <a href="#"><button type="button" class="btn btn-primary">3</button></a>
                    <a href="#"><button type="button" class="btn btn-primary">4</button></a>
                    <a href="#"><button type="button" class="btn btn-primary">5</button></a>
                    <a href="#"><button type="button" class="btn btn-primary">6</button></a>
                    <a href="#"><button type="button" class="btn btn-primary">7</button></a>
                    <a href="#"><button type="button" class="btn btn-primary">8</button></a>
                </div>
            </div>
        </div>
    </section> -->
    <script src="/javascripts/custombook_review.js"></script>
</body>

</html>