<html>
<body>
    <p>
    Name : <%= book.book_name %>
    Tag : <%= book.book_tag %>
    Description : <%= book.book_description %>
    Price : <%= book.book_price %>
    rate :<%= book.book_rate %>
    view :<%= book.book_view %></p>
    <form action="/book/update?_method=put" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="id" value="<%= book._id %>">
        <input type="text" name="book_name" value="<%= book.book_name %>">
        <input type="text" name="book_tag" value="<%= book.book_tag %>">
        <input type="text" name="book_description" value="<%= book.book_description %>">
        <input type="text" name="book_price" value="<%= book.book_price %>">
        <br>
        <button type="submit">UPDATE</button>
    </form>
    <form action="/book/delete?_method=delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="id" value="<%= book._id %>">
        <button type="submit">DELETE</button>
    </form>
    <form action="/book/rent" method="post">
        <input type="hidden" name="book_id" value="<%= book._id %>">
        <input type="number" name="week">
        <button type="submit">RENT</button>
    </form>
</body>
</html>