<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"> -->
    <title>web test</title>
</head>
<body>
    <button><a href="/login">Login</a></button>
    <button><a href="/register">Register</a></button>
    <br>
    <table>
        <% for(var i = 0;i < book.length;i++){ %>
            <tr>
            <img src="data:book[i]/<%= book[i].book_img.contentType %>;base64,
                <%= book[i].book_img.data.toString('base64') %>" width="400" height="250">
            Name : <%= book[i].book_name %>
            Tag : <%= book[i].book_tag %>
            Description : <%= book[i].book_description %>
            Price : <%= book[i].book_price %>
            rate : <%= book[i].book_rate %>
            view : <%= book[i].book_view %>
            <br>
            </tr>
        <% } %>
    </table>
</body>
</html>