<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1>สวัสดีจ้า <%= user %></h1>
    <button><a href="/logout">Logout</a></button>
    <button><a href="/addbook">Add Book</a></button>
    <form action="/api/search" method="get">
        <input type="text" name="bookname" >
        <button type="submit">Search</button>
    </form>
    <br>
    <table>
        <% for(var i = 0;i < book.length;i++){ %>
            <tr>
            <img src="data:book[i]/<%= book[i].book_img.contentType %>;base64,
                <%= book[i].book_img.data.toString('base64') %>" width="400" height="250">
            Name : <%= book[i].book_name %>
            Tag : <%= book[i].book_tag %>
            Description : <%= book[i].book_description %>
            Price : <%= book[i].book_price %>
            rate : <%= book[i].book_rate %>
            view : <%= book[i].book_view %>
            <form action="/api/book" method="get">
                <input type="hidden" name='id' value="<%= book[i]._id %>">
                <button type="submit">get</button>
            </form>
            <br>
            </tr>
        <% } %>
    </table>
    
</body>
</html>