<html>
<body>
    <button><a href="/main">Home</a></button>
    <br>
    <table>
        <% for(var i = 0;i < book.length;i++){ %>
            <tr>
            <img src="data:book[i]/<%= book[i].book_img.contentType %>;base64,
                <%= book[i].book_img.data.toString('base64') %>" width="400" height="250">
            Name : <%= book[i].book_name %>
            Tag : <%= book[i].book_tag %>
            Description : <%= book[i].book_description %>
            Price : <%= book[i].book_price %>
            rate : <%= book[i].book_rate %>
            view : <%= book[i].book_view %>
            <form action="/api/book" method="get">
                <input type="hidden" name='id' value="<%= book[i]._id %>">
                <button type="submit">get</button>
            </form>
            <br>
            </tr>
        <% } %>
    </table>
</body>
</html>